# Ignore Terraform state and lock files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfvars
terraform/*.tfbackup
my-key-pair.pem
# Ignore logs and temporary files
*.log
*.bak
*.tmp
logs/
